<%= form_with(model: credential,
              url: options_for_webauthn_credentials_path,
              method: :post,
              data: {
                remote: true,
                turbo: false,
                controller: "webauthn--register",
                "webauthn--register-callback-value": webauthn_credentials_url,
                action: "ajax:success->webauthn--register#create ajax:error->webauthn--register#error"}) do |f| %>

  <div>
    <%= f.label :nickname %>
    <%= f.text_field :nickname, placeholder: "Security key, Face ID...", required: true, data: {"webauthn--register-target": "nickname"} %>
  </div>

  <%= f.button "Add", class: "btn btn--primary" %>

  <%= turbo_frame_tag "webauthn_credential_error" %>
<% end %>